HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


designs/order-management-system/.gitattributes
designs/order-management-system/.gitignore
designs/order-management-system/.mvn/wrapper/maven-wrapper.properties
designs/ticketmaster/.m2/*
designs/ticketmaster/.mvn/*
designs/url-shortener/application-gateway/.m2repo/*
